*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {
    outline: none;
}
a:focus, a:active {
    outline: none;
}
nav, footer, header, aside {
    display: block;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {
    font-family:inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
    background: none;
}
button::-moz-focus-inner {
    padding:0;
    border:0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img { 
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size:inherit;
    font-weight: 400;
}
/*===================*/
body {
    font-family: sans-serif;
    background-color: rgb(231, 233, 229);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100dvh; 
    width: 100%;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.page__1 {
    display: none;
}

.page__1_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    height: 100dvh;
}

.page__1 h1 {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: rgb(185, 150, 105);
    text-align: center;
}

.page__1_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}

.page__1 span{
    display: block;
    font-size: 25px;
}

#page__1_input {
    font-size: 25px;
    padding: 5px;
    width: 70px;
    height: 40px;
    background-color: rgb(218, 218, 233);
    border: 1px solid rgb(182, 172, 172);
    border-radius: 2px;
}

#page__1_input::-webkit-inner-spin-button,
#page__1_input::-webkit-outer-spin-button {
opacity: 1;
}

.page__1 img {
    width: 300px;
    height: 300px;
    background-size: 300px;
    display: block;
}

.button__start {
    display: block;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(124, 124, 201);
    cursor: pointer;
    color: rgb(226, 230, 233);
    border-radius: 4px;
}

.button__start:hover {
    background-color: rgb(138, 138, 184);
}

/* страница игры*/
.page__2 {
     display: none;
}

.page__2_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    height: 100dvh; 
}

.page__2_score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: rgb(209, 217, 218);
    font-size: 20px;
}

.page__2_box-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    gap: 120px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.page__2_box-img span {
    position: absolute;
    top: -20px;
    left: calc(50% - 300px);
    width: 600px;
    font-size: 40px;
    opacity: 0.5;
    z-index: 1;
    text-align: center;
}

.page__2_box-img-user {
    background: url(../img/5.png) no-repeat center center;
    max-width: 300px;
    width: 100%;
    min-height: 115px;
    height: 100%;
    background-size: contain;
    -o-object-fit: none;
       object-fit: none;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.page__2_box-img-comp {
    background: url(../img/4.png) no-repeat center center;
    max-width: 300px;
    width: 100%;
    height: 100%;
    min-height: 115px;
    background-size: contain;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
    100% {
        -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
        -webkit-transform: rotate(0deg) ;
                transform: rotate(0deg) ;
      }
  }

@keyframes anim {
    0% {
        -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
    100% {
        -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
        -webkit-transform: rotate(0deg) ;
                transform: rotate(0deg) ;
      }
  }

@-webkit-keyframes anim-2 {
    0% {
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
      }
    100% {
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
  }

@keyframes anim-2 {
    0% {
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
      }
    100% {
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
  }

.page__2_gesture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
    background-color: rgb(209, 217, 218);
    padding: 0 15px;
}

.page__2_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:nowrap;
        flex-wrap:nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    height: 50px;
}

.page__2_box > span {
    font-size: 30px;
}

.button__restart {
    display: block;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(118, 118, 236);
    cursor: pointer;
    color: rgb(226, 230, 233);
    border-radius: 4px;
    display: none;
}

.button__restart:hover {
    background-color: rgb(160, 160, 218);
}

.page__2_gesture-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    max-width: 800px;
    width: 100%;
}

.page__2_gesture-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    font-size: 20px;
    position: relative;
}

.button__gesture {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes blink {
    70% { 
        border: 1px solid red; 
    }

    100% { 
        border: 1px solid red; 
    }
  }

@keyframes blink {
    70% { 
        border: 1px solid red; 
    }

    100% { 
        border: 1px solid red; 
    }
  }

.button__gesture:hover {
    background-color: rgb(127, 134, 236);
}

.button__stone {
    background: url(../img/1.png) no-repeat center top 50px;
    background-size: 150px;
}

.button__scissors {
    background: url(../img/2.png) no-repeat center top 50px;
    background-size: 150px;
}

.button__paper {
    background: url(../img/3.png)no-repeat center top 50px;
    background-size: 150px;
}

.page__2_gesture-title span {
    position: absolute;
    top: 5px;
}

.active {
    display: block;
}

/* медиа запросы*/
/*----------------1000px------------------*/
@media (max-width: 1000px) and (orientation:landscape){
    .page__1_wrapper {
        gap: 20px;
    }
    
    .page__1 h1{
        font-size: 40px;
    }
        
    .page__1 span{
        font-size: 20px;
    }
    
    #page__1_input {
        font-size: 20px;
        width: 50px;
        height: 30px;
    }
        
    .page__1 img {
        width: 200px;
        height: 200px;
        background-size: 200px;
    }
    
    .button__start {
        font-size: 25px;
    }

    .page__2_wrapper {
        height: 100dvh; 
        width: 100%;
    }

    .page__2_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap:nowrap;
            flex-wrap:nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 10px;
        height: 35px;
    }

    .page__2_box > span {
        font-size: 20px;
    }
    
    .button__gesture {
        width: 150px;
        height: 120px;
    }

    .button__stone {
        background: url(../img/1.png) no-repeat center top 40px;
        background-size: 120px;
    }

    .button__scissors {
        background: url(../img/2.png) no-repeat center top 40px;
        background-size: 120px;
    }

    .button__paper {
        background: url(../img/3.png)no-repeat center top 40px;
        background-size: 120px;
    }
  }

/*-----------------768px------------------*/
@media (max-width: 768px){
    .page__2_score {
        height: 70px;
        font-size: 18px;
    }

    .page__2_box > span {
        font-size: 20px;
    }

    .button__restart {
        font-size: 18px;
        width: 170px;
        height: 40px;
    }

    .page__2_gesture-title span {
        font-size: 16px;
    }

    .page__2_box-img {
        gap: 60px;
    }
}
/*---------------- 576px------------------*/
  @media (max-width: 576px){
    
    .page__1_wrapper {
        gap: 20px;
        padding: 10px;
    }
    
    .page__1 h1{
        font-size: 30px;
    }
    
    .page__1_box span {
        text-align: center;
    }

    .button__start {
        font-size: 30px;
    }
   
    .page__2_score {
        height: 30px;
        font-size: 16px;
    } 
     
    .page__2_box-img span{
        font-size: 18px;
        width: 300px;
        left: calc(50% - 150px);
        font-size: 18px;
        width: 300px;
        left: calc(50% - 150px);
    }

    .page__2_box > span {
        font-size: 16px;
    }

    .button__gesture {
        width: 100px;
        height: 100px;
    }
        
    .button__stone {
        background: url(../img/1.png) no-repeat center top 30px;
        background-size: 90px;
    }
    
    .button__scissors {
        background: url(../img/2.png) no-repeat center top 30px;
        background-size: 90px;
    }
    
    .button__paper {
        background: url(../img/3.png)no-repeat center top 30px;
        background-size: 90px;
    }
}